body{
	background-image: url("../bg-login-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body.login-content:before {
    background: #00bcd4;
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    z-index: 1;
    opacity: 0.7;
}
header{
	position:relative;
	z-index:2;
}
.lc-block{
	vertical-align: top;
}
body, a, h1, h2, h3, h4, h5, h6, span, p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
header .title .title-wrap h2 {
  font-family: 'abel',sans-serif;
  font-size: 33px;
  letter-spacing: -1px;
}
header .title .title-wrap h3 {
  font-family: 'abel',sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
}