.form-horizontal .control-label{
	text-align: left;
	font-weight: bold;
	padding-top: 7px;
}
body.sw-toggled .breadcrumb {
	padding: 8px 20px;
}
#header{
     /* background-color: #072446; */
	 background-color: #538ACC;
}
.overflow{
  overflow-x: hidden;
  overflow-y: auto;
}
#hotlist.toggled {
    opacity: 1;
    right: 0;
}
#hotlist {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    height: calc(100% - 65px);
    opacity: 0;
    padding: 20px 0;
    position: fixed;
    right: -300px;
    top: 65px;
    transition: all 300ms ease 0s;
    width: 25%;
    z-index: 10;
}
 
#hotlist.active {
    width: 50%;
}
.pointer{
  cursor: pointer;
}
#legend {
    right: 20px;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
	 background-color: none;
}