.container {
    width: 100%;
}

.form-horizontal .control-label{
	text-align: left;
	font-weight: bold;
	padding-top: 7px;
}
body.sw-toggled .breadcrumb {
	padding: 8px 20px;
}
#header{
     /* background-color: #072446; */
}
 
body{
	padding-bottom: 10px;
	/*background: rgba(0, 90, 152, 0.5) none repeat scroll 0 0;*/
	/*background: royalblue ; 
	/*background: lightseagreen ; */
	/*background: lavender ; */
	background: #C9E1FF;
}
.padding-1
{
	 min-height: 1px !important;
    padding-left: 3px !important;
    padding-right: 3px !important; 
}
.margin-5{
	margin: 5px !important;
}
.mini-charts-item
{
	margin-bottom: 1px;
}

.card {
    border-radius: 5px;
    box-shadow: 2px 5px 8px -4px lightslategray;
    margin-bottom: 10px;
} 

.card .card-header {
    border-bottom: 1px solid #e1e1e1;
    border-radius: 4px 4px 0 0;
    border-left: 5px solid orange;
} 

 .mini-charts-item::before
 {
 	width: 10px;
 }
 body #content
 {
 	padding:0px;
 }

 #layer2 {
    padding-left: 0 !important;
    padding-top: 35px;
 }
.chart i.zmdi {
    color: #fff;
    font-size: 50px;
}  
body:not(.sw-toggled) .breadcrumb {
    padding: 10px 15px 0;
}
.breadcrumb {
    border-bottom: medium none;
    border-radius: 0;
}

#panel-accordion
{
	overflow-y:auto;
	overflow-x:hidden;
}
 
.card .card-header .btn-float {
    bottom: -23px;
    right: 25px;
    z-index: 1;
}

#toogle-icon {
    position: absolute;
    right: 60px;
    top: 70px;
    z-index: 1;
} 

#legenHomepage {
    left: 20%;
    position: absolute;
    top: 10%;
}


#hotlist label {
    text-transform: inherit;
} 

@media (min-height: 400px) 
{
	.mini-charts-item .count > small { 
		font-size: 1vw;
	}
	.card .card-header h2
	{
		font-size: 1vw;
	}

}
@media (min-height: 900px) 
{
	body{
		font-size: 20px;
	}
	.mini-charts-item .count > h2
	{
		font-size: 50px
	}
	  
	small {
	    font-size: 20px;
	}
	 
	tspan {
	    font-size: 20px;
	}
	body:not(.sw-toggled) .breadcrumb
	{
		padding: 10px 2px 11px;
	}

	.padding-1
	{
		 min-height: 1px !important;
	    padding-left: 5px !important;
	    padding-right: 5px !important; 
	}
 
 
	 

}

/*Sty for map*/
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  width: 240px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "X";
}

/*
 * Inside Card will have more padding
 */
.card1 {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.card1 .card-header {
  position: relative;
}
.card1 .card-header h2 {
  margin: 0;
  line-height: 100%;
  font-size: 17px;
  font-weight: 400;
}
.card1 .card-header h2 small {
  display: block;
  margin-top: 8px;
  color: #AEAEAE;
  line-height: 160%;
}
.card1 .card-header.ch-alt:not([class*="bgm-"]) {
  background-color: #f7f7f7;
}
.card1 .card-header[class*="bgm-"] h2,
.card1 .card-header[class*="bgm-"] h2 small {
  color: #fff;
}
.card1 .card-header .actions {
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 15px;
}
.card1 .card-header .btn-float {
  right: 25px;
  bottom: -23px;
  z-index: 1;
}
.card1 .card-body.card-padding-sm {
  padding: 15px;
}
.card1 .card-header {
    border-bottom: 1px solid #e1e1e1;
    border-left: 5px solid orange;
    border-radius: 4px 4px 0 0;
}
.card1 .card-header:not(.ch-alt) {
    padding: 23px 25px;
}

.card2 {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.card2 .card-header {
  position: relative;
}
.card2 .card-header h2 {
  margin: 0;
  line-height: 100%;
  font-size: 17px;
  font-weight: 400;
}
.card2 .card-header h2 small {
  display: block;
  margin-top: 8px;
  color: #AEAEAE;
  line-height: 160%;
}
.card2 .card-header.ch-alt:not([class*="bgm-"]) {
  background-color: #f7f7f7;
}
.card2 .card-header[class*="bgm-"] h2,
.card2 .card-header[class*="bgm-"] h2 small {
  color: #fff;
}
.card2 .card-header .actions {
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 15px;
}
.card2 .card-header .btn-float {
  right: 25px;
  bottom: -23px;
  z-index: 1;
}
.card2 .card-body.card-padding-sm {
  padding: 15px;
}
.card2 .card-header {
    border-bottom: 1px solid #e1e1e1;
    border-left: 5px solid orange;
    border-radius: 4px 4px 0 0;
}
.card2 .card-header:not(.ch-alt) {
    padding: 23px 25px;
} 
#site-visits {
    border-radius: 4px;
    margin-bottom: 4px; 
}
#hotlist.toggled
{
  min-width: 300px;
}

.tab-content{
  overflow: auto;
}
.autoOverflow{
  overflow-y: auto;
  overflow-x: hidden;
}


.btn-filter-data {
    margin: 5px;
} 

.card-body .card-header {
    border-left: 0 none;
}